
@model IEnumerable<mvc.Models.Bookmark>
@{
    ViewBag.Title = "DisplayBookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>BOOKMARKED REPOSITORIES</h2>
<br />
<br /><br />

@{
//if list has bookmarks in it-display

    if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
                <h5><u>Avatar URL:</u></h5>
                @item.Avatar_url
                <h5><u>Name:</u></h5>
                @item.Name
                <br /><br />
                <hr />
            </div>
        }
    }
}
<br /><br />
<br /><br />
<br /><br />
<br /><br />
