<br />
<h2>REPOSITORY SEARCH</h2>
<br />


@using (Html.BeginForm())
{
    //getting the word for search

    <h4>Please insert a word for search:</h4>
    <input type="text" name="searchText" />
    <input type="submit" value="Submit" />
}

<br /><br />
<br /><br />
<br /><br />
<br /><br />