
@{
    ViewBag.Title = "MyHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Home</title>
</head>
<body>
    <div>
        <br />
        <h2>WELLCOM TO OUR REPOSITORY SEARCH APPLICATION</h2>
        <br />
        <h5>CHOOSE <b>VIEW GALLERY</b> TAB FOR A NEW SEARCH</h5>        
    </div>
</body>
</html>



